<div class="calendar">
  <ion-slides #mySlider (ionDidChange)="onSlideChanged($event)" [options]="slideOptions">
    <ion-slide *ngFor="let monthObj of months">
      <ion-row class="month-row">
        <ion-col width-60 class="text-center">
          {{monthObj.selectedMonth.format("MMMM YYYY")}}
        </ion-col>
      </ion-row>

      <div class="day-grid">
        <ion-row class="text-center week-row">
          <ion-col *ngFor="let weekName of weekNames" style="font-weight: bold">
            <span>{{weekName}}</span>
          </ion-col>
        </ion-row>

        <ion-row class="text-center day-row" *ngFor="let week of monthObj.weeks; let rowIndex = index">
          <template [ngIf]="week.days">
              <ion-col class="day-col" *ngFor="let day of week.days; let colIndex = index"
                [ngClass]="{
                 'selected': day.isSame(monthObj.selectedDate)
                }">
                <div class="day-cell"
                  (click)="select(monthObj,day,rowIndex)"
                  [ngClass]="{'non-current-month': !(day.month() === monthObj.selectedMonth.month()),'weekend': ((day.days() % 6) === 0), 'today': day.isSame(today,'day')}"
                  >
                  {{day.date()}}
                  <!-- random markers -->
                  <em class="marker"  *ngIf="day.month() === monthObj.selectedMonth.month() &&
                                          (day.date() % 12 === 0) &&
                                          ((day.days() % 6) !== 0)"></em>

                </div>

              </ion-col>
            </template>

          <!--<template [ngIf]="((monthObj.selectedDate.month() === monthObj.selectedMonth.month())
              && (!week.days)
              && (monthObj.selectedRowIndex === (rowIndex - 1))
              )">
              <ion-col class="text-center">
                <button small primary class="action-button">Check In</button>
              </ion-col>
            </template>-->
        </ion-row>
      </div>
    </ion-slide>
  </ion-slides>
    <div class="goals">
      <h1>{{selectedDate.format('MMMM Do')}} – Progress</h1>
        <ion-list *ngIf="goalList && goalList.length > 0">
          <ion-item *ngFor="let goal of goalList">
            <h1>{{goal?.name}}</h1>
            <p>Description: <strong>{{goal?.description}}</strong></p>
            <p>Date Started: <strong>{{goal?.date}}</strong></p>
            <!--<button danger (click)="removeGoal(goal?.id)" item-right><ion-icon name="trash"></ion-icon> Delete</button>-->
          </ion-item>
        </ion-list>
    </div>
</div>
