<ion-header>
  <ion-navbar praxis-crimson>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button (click)="goToSettings()"><ion-icon name="settings"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <ion-card *ngIf="userProfile && (userProfile.firstName && userProfile.lastName)">
    <ion-card-header>
      <ion-card-title text-center>
        <img src="{{userProfile?.photoURL}}" style="height: 256px; width: 256px; display: block; margin-left: auto; margin-right: auto;">
        {{userProfile?.firstName}} {{userProfile?.lastName}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <h1>0</h1>
          <p>
            Goals
          </p>
        </ion-col>
        <ion-col>
          <h1>0</h1>
          <p>
            Completed
          </p>
        </ion-col>
        <ion-col>
          <h1>0</h1>
          <p>
            Check-Ins
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h1>Progress Data</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <calendar></calendar>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h1>Statistics</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          graphs go here
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<!--<ion-content padding text-center class="no-profile" *ngIf="userProfile && !(userProfile.firstName && userProfile.lastName)">
  <div class="no-profile">
    <h1 style="text-align: center;">You don't have a profile!</h1>
    <p style="text-align: center;" padding>
      Click below if you'd like to get set up – please enter a <b>first</b> and <b>last</b> name.
    </p>
    <button primary (click)="addProfileInformation()">Enter</button>
  </div>
</ion-content>
 -->
