<!--
  Generated template for the GoalsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar praxis-crimson>
    <ion-title>Goals</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="goals">

  <ion-card class="cards-list">
    <ion-card-header *ngIf="goalList && goalList.length > 0">
      Your goal
    </ion-card-header>
    <div class="slacker" *ngIf="goalList && goalList.length == 0">
      <h1 style="text-align: center;">Oh no!</h1>
      <p style="text-align: center;" padding>
        It doesn't look like you've set a goal.
      </p>
      <button primary (click)="goToAddGoal()">Add Goal</button>
      <button primary (click)="presentLoginModal()">Show Modal</button>
    </div>
  </ion-card>


  <!--show only one goal for now -->
  <ion-card>
    <ion-list *ngIf="goalList && goalList.length > 1">
      <ion-item *ngFor="let goal of goalList">
        <h2>{{goal?.name}}</h2>
        <p>Description: <strong>${{goal?.description}}</strong></p>
        <p>Date: <strong>{{goal?.date}}</strong></p>
      </ion-item>
    </ion-list>
  </ion-card>


</ion-content>
