<ion-header>
  <ion-navbar praxis-crimson>
    <ion-title>Goals</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="goals">

  <ion-card class="cards-list" *ngIf="goalList && goalList.length > 0">
    <ion-card-header text-center>
        <h1>Primary Goal</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="goalList && goalList.length > 0">
        <ion-item *ngFor="let goal of goalList">
          <h1>{{goal?.name}}</h1>
          <p>Description: <strong>{{goal?.description}}</strong></p>
          <p>Date Started: <strong>{{goal?.date}}</strong></p>
          <button danger (click)="removeGoal(goal?.id)" item-right><ion-icon name="trash"></ion-icon> Delete</button>
          <button primary (click)="removeGoal(goal?.id)" item-right><ion-icon name="checkmark"></ion-icon>Done</button>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-header text-center>
        <h1>Subtasks</h1>
    </ion-card-header>
        <ion-card-content>
        <ion-list *ngIf="goalList && goalList.length > 0">
          <ion-item *ngFor="let goal of goalList">
            <h2>Testing Subtask</h2>
            <p>Description: <strong>Something to be done</strong></p>
            <p>Date Started: <strong>Today</strong></p>
            <button danger (click)="removeGoal(goal?.id)" item-right><ion-icon name="trash"></ion-icon> Delete</button>
            <button primary (click)="removeGoal(goal?.id)" item-right><ion-icon name="checkmark"></ion-icon>Done</button>
          </ion-item>
          <ion-item *ngFor="let goal of goalList">
            <h2>Testing Subtask</h2>
            <p>Description: <strong>Something to be done</strong></p>
            <p>Date Started: <strong>Tomorrow</strong></p>
            <button danger (click)="removeGoal(goal?.id)" item-right><ion-icon name="trash"></ion-icon> Delete</button>
            <button primary (click)="removeGoal(goal?.id)" item-right><ion-icon name="checkmark"></ion-icon>Done</button>
          </ion-item>
        </ion-list>
    </ion-card-content>
  </ion-card>

  <!--<ion-card class="cards-list" *ngIf="goalList && goalList.length > 0">
    <ion-card-header text-center>
        <h1>Subtasks</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-list no-lines *ngIf="goalList && goalList.length > 0">
        <ion-item *ngFor="let goal of goalList">
          <p>Description: <strong>{{goal?.description}}</strong></p>
          <p>Date Started: <strong>{{goal?.date}}</strong></p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>-->

  <div class="no-goals" *ngIf="goalList && goalList.length == 0">
    <h1 style="text-align: center;">Oh no!</h1>
    <p style="text-align: center;" padding>
      It doesn't look like you've set a goal.
    </p>
    <button primary (click)="goToAddGoal()">Add Goal</button>
    <button primary (click)="presentLoginModal()">Show Modal</button>
  </div>

  <!--show only one goal for now -->
  <ion-card>
  </ion-card>
</ion-content>
